name: CI/CD Pipeline


on:
  push:
      branches: [ main ]

jobs:
    build-test-deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v2

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: 20
        
        - name: Install Dependencies
          run: npm install --legacy-peer-deps

        - name: Run Tests
          run: npm test

        - name: Build Application
          run: npm run build



