name: CI/CD Pipeline


on:
  push:
      branches: [ main ]

jobs:
    build-test-deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v2

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: 20
        
        - name: Install Dependencies
          run: npm install --legacy-peer-deps

        - name: Run Tests
          run: npm test

        - name: Build Application
          run: npm run build

        - name: Deploy to EC2
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.EC2_KEY }}
            script: |
              cd /home/ubuntu/CI-CD-pipeline
              git reset --hard
              git pull origin main
              npm install --legacy-peer-deps
              npm run build
              pm2 stop chat-backend || true
              pm2 start dist/main.js --name chat-backend
              pm2 save




